<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer class="text-center text-lg-start text-dark">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom footer_alignment">
          <div class="me-4 contents_contact">
          <!-- <div class="me-5 "> -->
            <span>
                Theo dõi và kết nối với Lyra thông qua: </span>
          </div>
          <div class="contents_contact">
            <a href="" class="me-4 icons-background">
                <!-- <fa-icon [icon]="faPhone"></fa-icon> -->
                <fa-icon [icon]="faShop"></fa-icon>
              </a>
            <a href="" class="me-4 icons-background">
              <fa-icon [icon]="faFacebookF"></fa-icon>
            </a>
            <a href="" class="me-4 icons-background">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a href="" class="icons-background">
              <!-- <fa-icon [icon]="faPhone"></fa-icon> -->
              <fa-icon [icon] = "faTiktok"></fa-icon>
            </a>
          </div>
          
        </section>
        <section class="footer_alignment">
          <div class="container_fix">
            <div class="row mt-3">
              <!-- <img [src]="./assets/images/logo/Logo.jpg" alt="Logo"> -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 review">
                <a href="#">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <fa-icon [icon]="faGem"></fa-icon>
                        TRANG SỨC LYRA
                        
                    </h6>
                    <img src="assets/Images/Logo/Logo.png" alt="Logo" class="mb-4">
                </a>
                <p> Là thương hiệu uy tín, chúng cam kết mang đến cho khách hàng những sản phẩm với mẫu mã đa dạng cùng với chất lượng và giá cả tốt nhất!</p>
                
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 tags">
                <h6 class="text-uppercase fw-bold mb-4">VỀ LYRA</h6>
                <p class="tags_hover"><a href="#!" class="text-reset">Câu chuyện Lyra</a></p>
                <p class="tags_hover"><a href="#!" class="text-reset">Blog</a></p>
                <p class="tags_hover"><a href="#!" class="text-reset">Điều khoản và chính sách</a></p>
                <p class="tags_hover"><a href="#!" class="text-reset">Câu hỏi thường gặp</a></p>
              </div>
      
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 tags">
      
                <h6 class="text-uppercase fw-bold mb-4">
                  DOANH MỤC SẢN PHẨM
                </h6>
                <p class="tags_hover">
                  <a href="#!" class="text-reset">Bộ sưu tập</a>
                </p>
                <p class="tags_hover">
                  <a href="#!" class="text-reset">Trang sức vàng</a>
                </p>
                <p class="tags_hover">
                  <a href="#!" class="text-reset">Trang sức bạc</a>
                </p>
                <p class="tags_hover">
                  <a href="#!" class="text-reset">Nhẫn</a>
                </p>
                <p class="tags_hover">
                  <a href="#!" class="text-reset">Khuyên tai</a>
                </p>
                <p class="tags_hover">
                  <a href="#!" class="text-reset">Dây chuyền</a>
                </p>
                <p class="tags_hover">
                  <a href="#!" class="text-reset">Lắc tay</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  LIÊN HỆ VỚI LYRA
                </h6>
                <p> <fa-icon [icon] = "faLocationDot" class="icon_locationDot"></fa-icon> 669, QL1A, Thủ Đức, TP.Hồ Chí Minh</p>
                <p><fa-icon [icon]="faEnvelope" class="icon_envelope"></fa-icon>LyraJewelry@gmail.com</p>
                <p><fa-icon [icon]="faPhone" class="icon_phone"></fa-icon>+84 918973119</p>
              </div>
            </div>
          </div>
        </section>
        <div class="text-center p-4 certification" style="background-color: rgba(61, 61, 61, 0.05);">
            <p>  © 2023 Trang sức Lyra | 
                <a class="text-reset" href="#">
                Được hỗ trợ bởi Trang sức Lyra
                </a> 
            </p>
            <img src="assets/Images/certification/Certification.png" alt="Certification">
        </div>
    </footer>
</body>
</html>