<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <main>
        <!-- <carousel>
            <div class="carousel-cell">
                <img src="path_to_image">
            </div>
            <div class="carousel-cell">
                ...
        </carousel> -->
        <section class="collection">
            <div class="collection_blocks">
                <a href=""><img src="assets/Images/collection/infinity.jpg" alt="Infinity"></a>
            </div>
            <div class="collection_blocks">
                <a href=""><img src="assets/Images/collection/sakura.jpg" alt="Sakura"></a>
            </div>
            <div class="collection_blocks">
                <a href=""><img src="assets/Images/collection/infinity.jpg" alt="Infinity"></a>
            </div>
        </section>
        <section>
            <div class="products_block">
                <div class="products_banner">
                    <img src="assets/Images/products_banner/daychuyen.jpg" alt="">
                </div>
                <div class="box-wrap">
                    <div class="products_info" *ngFor="let product of products">
                        <div class="products_items" *ngIf="product.category === 'Dây chuyền'" >
                            <a href="">
                                <img [src]="product.icon_url" alt="{{ product.name }}" >
                                <div class="products_details">
                                    <p>{{ product.name }}</p>
                                    <p>{{ product.price }}</p>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="products_block">
                <div class="products_banner">
                    <img src="assets/Images/products_banner/khuyentai.jpg" alt="">
                </div>
                <div class="box-wrap">
                    <div class="products_info" *ngFor="let product of products">
                        <div class="products_items" *ngIf="product.category === 'Bông tai'" >
                            <a href="">
                                <img [src]="product.icon_url" alt="{{ product.name }}" >
                                <div class="products_details">
                                    <p>{{ product.name }}</p>
                                    <p>{{ product.price }}</p>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
        <section class="sections_discounts">
            <div class="discounts_block">
                <div class="discounts_imgs">
                    <a href="#"><img src="assets/Images/Discounts/1.png" alt=""></a>
                </div>
                <div class="discounts_imgs">
                    <a href="#"><img src="assets/Images/Discounts/2.png" alt=""></a>
                </div>
                <div class="discounts_imgs">
                    <a href="#"><img src="assets/Images/Discounts/3.png" alt=""></a>
                </div>
            </div>
        </section>
        <section>
            <div class="products_block">
                <div class="products_banner">
                    <img src="assets/Images/products_banner/lactay.png" alt="">
                </div>
                <div class="box-wrap">
                    <div class="products_info" *ngFor="let product of products">
                        <div class="products_items" *ngIf="product.category === 'Lắc tay'" >
                            <a href="#">
                                <img [src]="product.icon_url" alt="{{ product.name }}" >
                                <div class="products_details">
                                    <p>{{ product.name }}</p>
                                    <p>{{ product.price }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <section>
            <div class="products_block">
                <div class="products_banner">
                    <img src="assets/Images/products_banner/nhan.jpg" alt="">
                </div>
                <div class="box-wrap">
                    <div class="products_info" *ngFor="let product of products">
                        <div class="products_items" *ngIf="product.category === 'Nhẫn bạc'" >
                            <a href="">
                                <img [src]="product.icon_url" alt="{{ product.name }}" >
                                <div class="products_details">
                                    <p>{{ product.name }}</p>
                                    <p>{{ product.price }}</p>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <section class="why_choice_Lyra">
            <div class="reason_block">
                <div class="reason_header">
                    <h1>Tại sao nên chọn trang sức Lyra?</h1>
                </div>
                <div class="reason_contents">
                    <div class="reason_contents_items">
                        <div class="reason_icon_bg">
                            <fa-icon [icon] = "faGift"></fa-icon>
                        </div>
                        <h5>Bộ sưu tập sản phẩm</h5>
                        <p>Đa dạng phong cách, dễ dàng tìm kiếm và chọn lựa các loại trang sức</p>
                    </div>
                    <div class="reason_contents_items">
                        <div class="reason_icon_bg">
                            <fa-icon [icon] = "faProductHunt "></fa-icon>
                        </div>
                        <h5>Chất lượng sản phẩm</h5>
                        <p>Cam kết chất lượng tốt nhất dành cho bạn</p>
                    </div>
                    <div class="reason_contents_items">
                        <div class="reason_icon_bg">
                            <fa-icon [icon] = "faServicestack"></fa-icon>
                        </div>
                        <h5>Dịch vụ khách hàng</h5>
                        <p>Hỗ trợ tư vấn, vận đơn mọi lúc, nhanh chóng và tận tâm</p>
                    </div>
                    <div class="reason_contents_items">
                        <div class="reason_icon_bg">
                            <fa-icon [icon] = "faTruckFast"></fa-icon>
                        </div>
                        <h5>Miễn phí vận chuyển</h5>
                        <p>Miễn phí giao hàng tận nhà cho đơn hàng từ 1 triệu</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="feedback_of_cus">
            <div class="comments">
                <div class="comments_items">
                    <h1>Đánh giá của khách hàng</h1>
                </div>
                <div class="comments_items comments_items_users">
                    <div class="comments_user">
                        <i class="fa-solid fa-comment comments_user_icons"></i>
                        <p class="feedback_users">"Tôi rất hài lòng với sản phẩm mà tôi đã mua từ cửa hàng của bạn. Sản phẩm không chỉ đẹp mắt mà chất lượng rất tốt. Tôi chắc chắn sẽ quay lại mua thêm trong tương lai."</p>
                        <p class="users_name">Quang Học</p>
                    </div>
                    <div class="comments_user">
                        <i class="fa-solid fa-comment comments_user_icons"></i>
                        <p class="feedback_users">"Cảm ơn bạn vì đã mang lại cho em bé của bạn một món quà xinh đẹp. Sản phẩm được giao hàng nhanh chóng và cẩn thận. Tôi rất hài lòng!"</p>
                        <p class="users_name">Bảo Tâm</p>
                    </div>
                    <div class="comments_user">
                        <i class="fa-solid fa-comment comments_user_icons"></i>
                        <p class="feedback_users">"Dịch vụ khách hàng của Kiddy thật sự rất tốt. Tôi sẽ ghé lại mua hàng ở Kiddy trong tương lai"</p>
                        <p class="users_name">Phụng Các</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>