// comon color
$white: #fff;
$black: #000;
// icons color 
$facebook_bg: #4267b2;
$facebook_color: #365899;
$instagram_bg: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$instagram_color: #d6249f;
$phone_color: #34A853;
$envelope_color: #EA4335;
$google_color: #EA4335;
$gem_bg: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(150, 180, 255, 0.5) 20%,
    rgba(100, 150, 255, 0.3) 40%,
    rgba(50, 100, 255, 0.2) 60%,
    rgba(0, 50, 255, 0.1) 80%,
    rgba(0, 0, 255, 0) 100%
  );
$gem_color: #E2A78C;
$location_color: #5384e0;
$shop_color: #A86A4D;
$shop_bg: #FFF9F4;
// font-size 
$h6: 17px;
$color_header: #C78F78;
//mixin 
$p: 16px;
@mixin comon_style {
    margin: 0;
    padding: 0;
}
@mixin footer_alignment {
    margin-left: 100px;
    margin-right: 100px;
}
@mixin font-contents {
    font-family: 'Quicksand', sans-serif;
}

@mixin flex_box_center {
    justify-content: center;
    align-items: center;
}
@mixin flex_column {
    display: flex;
    flex-direction: column;
}
@mixin flex_row {
    display: flex;
    flex-direction: row;
}
@mixin icons-border {
    padding: 10px;
    border-radius: 50%;
}
@mixin icons-hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    background-color: $white;
    border: 1px solid #000;
}


// style 

* {
    @include comon_style();
}

body {
    @include font-contents();
}

a {
    text-decoration: none;
    cursor: $black;
}

h6 {    
    color: $color_header;
    font-size: $h6;
    font-style: italic;
    fa-icon {
        padding: 3px;
        border-radius: 20%;
        background: $gem_bg;
        color: $white;
    }
}
.review img {
    max-height: 100px;
    max-width: 300px;
    border-radius: 10px;
}
p {
    font-size: $p - 1;
    margin-bottom: 10px;
    .review > & {
        // text-align: justify;
        // padding-right: 40px;
        font-style: italic;
        font-size: $p - 2;
    }
    .tags > &:hover {
        color: #A86A4D;
        cursor: pointer;
        font-size: $p;
        font-weight: 600;
    }
    fa-icon {
        margin-right: 10px;

    }
}
.certification {
    p {
        font-style: italic;
        // margin-bottom: 0;
    }
    img {
        max-height: 40px;
        
    }
}
.footer_alignment {
    @include footer_alignment();
    
    .contents_contact {
        @include flex_row();
        @include flex_box_center();
        .icons-background {
            @include icons-border();
            @include flex_box_center();
            @include flex_column();
            width: 35px;
            height: 35px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15);
            & > fa-icon {
                color: $white; 
            }
            &:first-child {
                background-color: $shop_color;
                & fa-icon {
                    color: $shop_bg;
                }
                &:hover {
                    background-color: $shop_bg;
                    fa-icon{
                        color: $shop_color;
                        
                    }
                }
            }
            &:nth-child(2) {
                background-color: $facebook_bg;
                &:hover fa-icon{
                    color: $facebook_color;
                }
            }
            &:nth-child(3) {
                background: $instagram_bg;
                &:hover {
                    background: $white;
                    fa-icon {
                        color: $instagram_color;
                    }
                }
            }
            &:last-child {
                background-color: $black;
                &:hover fa-icon{
                    color: $black;
                }
            }
            &:hover {
                background-color: $white;
                width: 40px;
                height: 40px;
            }
        }
    }
}
.icon_locationDot {
    color: $location_color;
}
.icon_envelope {
    color: $envelope_color;
}
.icon_phone {
    color: $phone_color;
}